body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar h2
{
    font-family: sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    box-shadow: 0px 10px 10px 0px gray;
    height: 4rem;
    width: 100%vw;
}

.navbar-title {
    color: white;
}

.navbar .content button {
    height: 2rem;
    width: 4.5rem;
    border-radius: 30px;
    font-family: Arial;
    font-size: 15px;

}
.btn:hover
{
    background-color: black;
    color: white;
    transition: ease-in, 0.4s;
}

.slider {
    background-image: url("attr_2077\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    height: 100vh;
    width: 100%;
}

.card {
    background-color: #f0f0f0;
    height: 48vh;
    width: 20vw;
    border-radius: 10px;
    padding: 0.4rem;
}

.img {
    height: 14rem;
   /* background-image: url(./download.jpeg); */
    object-fit: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.6s;

}